@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #E8E8E8;
  min-height: 100vh;
  font-family: "Fira_Sans";
}

.app {
  max-width: 1024px;
  margin: auto;
  padding: 24px;
}

.carousel {
  border-radius: 16px;
}

@media (max-width: 640px) {
  .app {
    padding: 16px;
  }
}

@layer utilities {
  .custom-label {
    @apply text-gray-800 text-xl not-italic font-semibold mb-2
  }

  .custon-input {
    @apply w-full mb-6 bg-gray-200 h-12 text-gray-900 rounded-md px-4 py-2 focus:outline-none;
  }

  .custom-send-btn {
    @apply w-full text-white text-xl font-semibold bg-indigo-800 rounded-md px-4 py-2;
  }

  .custom-image-container {
    @apply overflow-hidden w-48 h-32 rounded-xl
  }

  .custom-image {
    @apply transition ease-in delay-100 hover:scale-125 hover:-translate-y-2 duration-300 object-cover w-48 h-32
  }
}

.image_div {
  flex: 1;
}