@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #E8E8E8;
  min-height: 100vh;
  font-family: "Fira_Sans";
}

.app {
  /* flex: 1; */
  max-width: 1280px;
  margin: auto;
  padding: 24px;
}

.carousel {
  border-radius: 16px;
}

@media (max-width: 640px) {
  .app {
    padding: 16px;
  }
}